body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F1EFEF;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px 0.5fr 2fr 4fr;
  height: 100vh;
}

.header-section {
  background-color: #CCC8AA;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.round-button {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: none;
}

.round-button:hover {
  cursor: pointer;
}

.add-section {
  background-color: #CCC8AA;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section {
  background-color: #CCC8AA;
  grid-template-rows: 1fr;
  display: none;
  padding-top: 20px;
}

.form-section ul {
  background-color: #CCC8AA;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1.5fr;
  gap: 5px;
  height: 100%;
  align-content: center;
  margin-bottom: 40px;
}

.field {
  display: flex;
  justify-content: center;
}

.field li {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 230px;
}

.field-submit li {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 1.7rem;
  border-radius: 3px;
  border: none;
}

.library-section {
  background-color: #F1EFEF;
  display: grid;
  grid-template-rows: 2rem 1fr
}

.library-title {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr 3fr 1.5fr 1fr 1fr;
  align-content: center;
  background-color: #f0f0f0;
}

.library-title span {
  font-weight: 600;
  font-size: 1.1rem;
}

.library-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.book-container {
  display: grid;
  width: 100%;
  height: 2.5rem;
  background-color: #dfdfdf;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 3fr 1.5fr 1fr 1fr;
}

.book-container span {
  font-size: 0.9rem;
}

.book-field {
  align-self: center;
}

.book-field.title {
  font-style: italic;
  margin-left: 15px;
}

.library-book-title {
  margin-left: 15px;
}

.book-field.delete {
  font-size: 1rem;
  font-weight: 700;
  width: 2.5rem;
  height: 2rem;
  background-color: #dfdfdf;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 6px;
}

.book-field.delete:hover {
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
